  body {
    font-family: "Poppins", sans-serif;
  }

  p {
    font-size: 20px;
    font-weight: 400;
  }

  h1 {
    font-size: 40px;
    font-weight: bolder;
    color: #898AA6;
    height: 50px
  }

  h2 {
    font-size: 20px;
    font-weight: medium;
  }

  h3 {
    font-size: 18px;
    font-weight: medium;
    color: #8294C4;
  }

  nav {
    position: absolute;
    width: 100%;
    height: 72px;
    top: 0px;
    left: 0px;
    background-color: white;
    overflow: hidden;
    border-bottom: 1px solid #8294C4;
  }

  nav a {
    float: left;
    display: block;
    color: #ACB1D6;
    text-decoration: none;
  }

  #homepage {
    position: absolute;
    width: 209px;
    height: 24px;
    top: 24px;
    left: 89px;
    font-weight: bold;
  }

  #otherpages {
    position: absolute;
    width: 455px;
    height: 48px;
    top: 24px;
    right: 75px;
  }

  #otherpages a {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
  }

  #otherpages a:hover {
    background-color: #ACB1D6;
    color: white;
  }

  #homepage a:hover {
    background-color: #ACB1D6;
    color: white;
  }

  button {
    position: absolute;
    height: 48px;
    width: 104px;
    top: 12px;
    right: 75px;
    background-color: #898AA6;
    border-radius: 50px;
    border: solid #898AA6;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
  }

  button:hover {
    background-color: #ACB1D6;
    border-radius: 50px;
    border: #898AA6;
    color: white;
  }